@import "./variables.scss";
@import "./mixins";
@import "./global.scss";

.home {
  width: 100%;
  min-width: 100%;
  overflow: auto;
}
.data-container {
  padding: 20px 100px;

  @include breakpoint-down(medium) {
      padding: 30px 30px;
  }
}

.countries-list {
  display: grid;
  gap: 40px;
  align-items: center;
  overflow-x: hidden;
  padding: 0px !important;

  @include breakpoint-down(small) {
    display: block;
  }

  @include breakpoint-down(medium) {
    grid-template-columns: repeat(2, 47%);
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 22.5%);
  }
}

.countries-list li {
  box-shadow: 0 0 5px #b5b3b3;
  margin-bottom: 40px;

  &.bgColor {
    background-color:$darkBlue;
  }
}




.img-container {
  width: auto;
  height:200px;
  overflow: hidden;

   @include breakpoint-down(medium) {
     height: 200px;
   }
}

.img-flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-common {
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 30px;
  line-height: 2;

  @include breakpoint-down(medium) {
    padding: 30px 0px 50px 40px;
  }
}

.country-common h3 {
  font-weight: 900;
  text-wrap: wrap;
  font-size: 16px;
}
.country-common p span {
  font-weight: 600;
}